:root {
    background-color: rgb(44, 63, 167);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: rgb(48, 200, 238);
    margin: 0px;
    padding: 20px;
}

nav {
    display: flex;
    float: right;
    align-items: center;
}

a {
    padding: 10px;
}

.main-section,
#prior-blogs {
    margin: 20px;
    padding:20px;
    border: 10px;
    border-style: solid;
    border-color: red;
    color: red;
    font-size: 25px;
    display: flex;
    flex-direction: column
}

.content-section1 {
    display: block;
    content: "User Name:";
    padding: 20px;
}

.content-section2 {
    display: block;
    content: "Title:";
    padding: 20px;
}

.content-section3 {
    display: block;
    content: "Blog:";
    padding: 20px;
}

.main-header {
    display: inline-block;
}

.light-body {
    background-color:rgb(44, 63, 167);
}

.light-header {
    background-color:rgb(48, 200, 238);
}

.dark-body {
    background-color: black;
    color: white;
}

.dark-header {
    background-color: rgb(44, 63, 167);
    color: white;
}

#light-mode:hover {
    cursor: pointer;

}
