:root {
    background-color: rgb(44, 63, 167);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    margin: 0px;
    padding: 20px;
}

nav {
    display: flex;
    float: right;
    align-items: center;
}

a {
    padding: 10px;
    text-decoration: none;  
}

footer {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.main-header {
    display: inline-block;

}

.info-container {
    Width: 38%;
    margin: 10px;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.input-container {
    width: 50%;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.light-body {
    background-color:rgb(44, 63, 167);
}

.light-header {
    background-color:rgb(48, 200, 238);
}

.dark-body {
    background-color: black;
    color: white;
}

.dark-header {
    background-color: rgb(44, 63, 167);
    color: white;
}

#light-mode:hover {
    cursor: pointer;

}

#post-header {
    display:flex;
    justify-content: center;
}

#blog-post {
    padding: 0 0 115px;
}

#img-container {
    margin: 10px;
    padding: 20px;
    border: 10px;
    display: flex;
    border-style: solid;
    border-color: red;
    justify-content: center;
}

#img-front {
    height: 500px;
    width: 700px;
    display: flex;
}

@media screen and (max-width: 704px) {
    
    #img-front {
        height: 100px;
        width: 100px;
    }
}